<table *ngIf="this?.selection?.selected != null" style="width: 100%;"   class="mat-elevation-z8">


  <tr *ngFor="let item of this.selection.selected">
    <th  > {{item.capacite}} </th>
    <th  > {{item.codeEngin}} </th>
    <th  > {{item.compteur}} </th>
  </tr>
</table>




<table style="width: 100%;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="famille">
    <th mat-header-cell *matHeaderCellDef> famille. </th>
    <td mat-cell *matCellDef="let element"> {{element.famille}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="codeEngin">
    <th mat-header-cell *matHeaderCellDef> codeEngin </th>
    <td mat-cell *matCellDef="let element"> {{element.codeEngin}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="capacite">
    <th mat-header-cell *matHeaderCellDef> capacite </th>
    <td mat-cell *matCellDef="let element"> {{element.capacite}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="compteur">
    <th mat-header-cell *matHeaderCellDef> compteur </th>
    <td mat-cell *matCellDef="let element"> {{element.compteur}} </td>
  </ng-container>
  <!-- Symbol Column -->
  <ng-container matColumnDef="matricule">
    <th mat-header-cell *matHeaderCellDef> matricule </th>
    <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
  </ng-container>
  <ng-container matColumnDef="dateAffectation">
    <th mat-header-cell *matHeaderCellDef> dateAffectation </th>
    <td mat-cell *matCellDef="let element"> {{element.dateAffectation}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="selection.toggle(row)">
  </tr>
</table>
<br>
<br>
<br>
<br>
<br>
<br>
<button (click)="logSelection()">logSelection</button>
