<div class="">
  {{router.url=='/commandes/nouvelle-commandes' ? 'Demande Affectation ===> Nouvelle Demande' :
  (router.url=='/commandes/nouvelle-affectation')  ? 'Alloué Engins ===> Allocation' :
   router.url=='/commandes/nouvelle-commandes' ? '' :

   '' }}

</div>
<br>
<button (click)="ajouterDemande()">ajouter demande</button>
<div  [formGroup]="FGCommande" class="row">

<div  class="col-md-6 grid-margin">
  <div  class="card" style="height: 100%;">
    <div  class="card-body ">
      <h4 class="card-title">Détail de la demande</h4>
      <div class="form-sample mt-2">
        <p class="card-description">

        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label >Num BCI:</label>
                <input formControlName="numBCI" [ngClass]="router.url!='/commandes/nouvelle-commandes' ? 'disable':''"  type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label >Entité </label>
                <select formControlName="entite" [ngClass]="router.url!='/commandes/nouvelle-commandes' ? 'disable':''" class="form-control">
                  <option value="DTP" selected>DTP</option>
                  <option value="DTV">DTV</option>
                  <option value="DTC">DTC</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group ">
              <label >Date sortie prévue </label>
              <input formControlName="dateSortie"  [ngClass]="router.url!='/commandes/nouvelle-commandes' ? 'disable':''"  type="text" class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group ">
              <label >Shift sortie prévue</label>
                <select formControlName="shift" [ngClass]="router.url!='/commandes/nouvelle-commandes' ? 'disable':''" class="form-control">
                  <option value="1" >1</option>
                  <option value="2" >2</option>
                  <option value="3" >3</option>
                </select>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-md-6">
            <div class="form-group ">
              <label >Poste</label>
                <select formControlName="poste" [ngClass]="router.url!='/commandes/nouvelle-commandes' ? 'disable':''" class="form-control">
                  <option *ngFor="let item of posts_value" [value]="item">{{item}}</option>
                </select>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<div  class="col-md-6 grid-margin">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Engins demandés</h4>
      <div class="table-responsive mt-2">
        <div *ngIf="router.url=='/commandes/nouvelle-commandes' " [formGroup]="formFamille" class="form-row align-items-center ">
          <div class="col-3 ml-1 mt-1">
            <label class="sr-only" for="nomFamille">nomFamille</label>
            <select class="form-control mb-2" id="nomFamille" formControlName="nomFamille">
              <option value="tracteur">Tracteur</option>
              <option value="chargeuse">Chargeuse</option>
            </select>
          </div>
          <div class="col-3">
            <label class="sr-only" for="quantite">quantite</label>
            <input class="form-control mb-2" type="number" id="quantite" formControlName="quantite" placeholder="Quantite">
          </div>
          <div class="col-4">
            <label class="sr-only" for="remarque">remarque</label>
            <input class="form-control mb-2" id="remarque" formControlName="remarque" placeholder="Remarque">
          </div>
          <div class="col-1">
            <button (click)="ajoutFamille()">+</button>
          </div>




        </div>
        <table [formGroup]="FGEnginDemande" class="table table-bordered mt-3">
          <thead>
            <tr class="table-bordered">

              <th>
                Famille engin
              </th>
              <th>
                Quantité
              </th>
              <th>
                Remarque
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody >
            <tr formArrayName="items" *ngFor="let item of FGEnginDemande.controls.items?.value;let i = index">

              <ng-container [formGroupName]="i">


              <td style="text-align: center;">
                <!-- <button  type="button" class="btn  btn-icon ml-2">
                  <img class=" rounded" src="assets/images/tractor.png" alt="sample image">
                </button><br> -->
                {{item.nomFamille }}
              </td>
              <td>
                <input formControlName="quantite" [ngClass]="router.url!='/commandes/nouvelle-commandes' ? 'disable':''" type="number" class="form-control">
              </td>
              <td>
                <input formControlName="remarque" [ngClass]="router.url!='/commandes/nouvelle-commandes' ? 'disable':''"  class="form-control">
              </td>
              <td>
              </td>
            </ng-container>
            </tr>


          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>

</div>

<div *ngIf="router.url=='/commandes/nouvelle-affectation'" class="row">
      <div class="col-md-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Nouvelle affectation</h4>

            <div class="table-responsive ">
              <table [formGroup]="FGEngins" class="table table-bordered">
                <thead>
                  <tr class="table-bordered">
                    <th>
                      Famille
                    </th>
                    <th>
                      Code Engin
                    </th>
                    <th>
                      Type
                    </th>
                    <th>
                      Capacité
                    </th>
                    <th>
                      Compteur
                    </th>

                    <th>
                      Date affectation
                    </th>
                    <th>

                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr formArrayName="items" *ngFor="let item of FGEngins.controls.items?.value;let i = index" class="table-success">
                    <ng-container [formGroupName]="i">

                    <td>
                      {{item.famille.nomFamille}}
                    </td>
                    <td>
                      {{item.codeEngin}}
                    </td>
                    <td>
                      {{item.typeEngin}}
                    </td>
                    <td>
                      {{item.capacite}}
                    </td>
                    <td>
                      {{item.compteur}}
                    </td>
                    <td>
                      {{item.dateDernierAffectation}}
                    </td>
                    <td>
                      <button (click)="openDialogEngins();" type="button" class="btn  btn-icon">
                        <img class=" rounded" src="assets/images/tractor.png" alt="sample image">
                      </button>

                    </td>
                  </ng-container>
                  </tr>

                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
</div>

<div *ngIf="router.url!='/commandes/nouvelle-commandes'"  class="row">
  <div [formGroup]="FGEnginCritere" class="col-md-12 grid-margin stretch-card">

    <div class="card" formArrayName="engins" >
      <div class="card-body">

        <ngb-tabset>

          <ngb-tab  *ngFor="let engin of getEngins(FGEnginCritere);let i = index"  [title]="engin.controls.codeEngin.value">

                <ng-template [formGroupName]="i" ngbTabContent>

                <div class="d-flex flex-row-reverse">
                  <a type="button" class="btn btn-gradient-success btn-rounded btn-fw" routerLink="/panes/nouvelle-pane-engin" >+ Nouvelle Pane Engin</a>
                  <a type="button" class="btn btn-gradient-success btn-rounded btn-fw" routerLink="/panes/nouvelle-pane-engin" >Imprimer l'affiche</a>

                </div>


                  <div class="media row mt-2 ml-5 mr-2" style="border: 1px black solid;">

                              <div class="col-4  mt-2">
                                  <b class="col-6 ">Code Engin :</b>

                                  <label class="col-6 ">{{engin.controls.codeEngin.value}} </label>

                              </div>
                              <div class="col-4  mt-2">
                                  <b class="col-6">Type Engin :</b>
                                  <label class="col-6">{{engin.controls.typeEngin.value}}	</label>
                              </div>
                              <div class="col-4  mt-2">
                                  <b class="col-6">Capacité :</b>
                                  <label class="col-6">{{engin.controls.capacite.value}}</label>
                              </div>
                              <div class="col-4  mt-2">
                                  <b class="col-6">Compteur :</b>
                                  <label class="col-6">{{engin.controls.compteur.value}}</label>
                              </div>
                              <div class="col-4  mt-2">
                                  <b class="col-6">Date d'affectation :</b>
                                  <label class="col-6">{{engin.controls.dateDernierAffectation.value}}</label>
                              </div>



                  </div>
                  <div class="col-md-12 grid-margin">
                    <div class="card">
                      <div class="card-body">

                        <div class="table-responsive ">
                          <table class="table table-bordered">
                            <thead>
                              <tr class="table-bordered">

                                <th>
                                  <b>Critére de control Engins</b>
                                </th>
                                <th>
                                  <b>Etat sortie Engin</b>
                                </th>
                                <th>
                                  <b>Observation sortie</b>
                                </th>
                                <th >
                                  <b>Etat Entrée Engin</b>
                                </th>
                                <th >
                                  <b>Observation Entrée</b>
                                </th>

                              </tr>
                            </thead>
                            <tbody formArrayName="critere">
                              <tr  *ngFor="let item_critere of getCriteres(engin);let j = index">

                              <ng-container [formGroupName]="j" >



                                <td class="">
                                            <b>{{item_critere["controls"].critere.value}}</b>
                                </td>
                                <td class="form-inline">
                                  <div class="form-check mr-5">
                                    <label class="form-check-label">
                                      <input formControlName="etatSortie" type="radio" class="form-check-input" value="o"  id="optionsRadios2"  checked>
                                      Oui
                                      <i class="input-helper"></i>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input formControlName="etatSortie" type="radio" class="form-check-input" value="n"  id="optionsRadios2"  checked>
                                      Non
                                      <i class="input-helper"></i>
                                    </label>
                                  </div>
                                </td>
                                <td>
                                  <input class="form-control">
                                </td>
                                <td class="form-inline" >
                                  <div class="form-check mr-5">
                                    <label class="form-check-label">
                                      <input formControlName="etatEntree" type="radio" class="form-check-input"  id="optionsRadios2" value="o" checked>
                                      Oui
                                      <i class="input-helper"></i>
                                    </label>
                                  </div>
                                  <div class="form-check">
                                    <label class="form-check-label">
                                      <input formControlName="etatEntree" type="radio" class="form-check-input"  id="optionsRadios2" value="n" checked>
                                      Non
                                      <i class="input-helper"></i>
                                    </label>
                                  </div>
                                </td>
                                <td >
                                  <input class="form-control">
                                </td>

                              </ng-container>
                              </tr>

                            </tbody>
                          </table>

                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
          </ngb-tab>


        </ngb-tabset>
      </div>
    </div>
  </div>

</div>
