
<div class="page-header">
  <h3 class="page-title">
    <span class="page-title-icon bg-gradient-primary text-white mr-2">
      <i class="mdi mdi-home"></i>
    </span>
    Dashboard
  </h3>
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">
        <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
      </li>
    </ul>
  </nav>
</div>
<div class="row">
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">Commande Enregistrée
          <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">30</h2>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">Commande Exécutee
          <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">20</h2>
      </div>
    </div>
  </div>
  <div class="col-md-4 stretch-card grid-margin">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image"/>
        <h4 class="font-weight-normal mb-3">Commande Activée
          <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h4>
        <h2 class="mb-5">5</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 grid-margin grid-margin-md-5 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Commande en cours</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>

                <th>
                  Num_Com
                </th>
                <th>
                  Description
                </th>
                <th>
                  Date Commande
                </th>
                <th>
                  Progress
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  Poste43_shift1
                </td>
                <td>
                  May 15, 2015
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  Poste53_shift2
                </td>
                <td>
                  Jul 01, 2015
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  Poste30_shift4
                </td>
                <td>
                  Apr 12, 2015
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  Poste42_shift2
                </td>
                <td>
                  May 15, 2015
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  Poste5_shift9
                </td>
                <td>
                  May 03, 2015
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  Poste43_shift1
                </td>
                <td>
                  Jun 05, 2015
                </td>
                <td>
                  <div class="progress">
                    <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 grid-margin grid-margin-md-5 stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Panne en cours</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Num Panne
                </th>
                <th>
                  Description
                </th>
                <th>
                  Engin concerné
                </th>
                <th>
                  Date panne
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  1
                </td>
                <td>
                  Pression pompe
                </td>
                <td>
                  TR8714
                </td>
                <td>
                  Jul 01, 2015

                </td>
              </tr>
              <tr>
                <td>
                  2
                </td>
                <td>
                  Pression pompe
                </td>
                <td>
                  TR8714
                </td>
                <td>
                  Jul 01, 2015

                </td>
              </tr>
              <tr>
                <td>
                  3
                </td>
                <td>
                  Pression pompe
                </td>
                <td>
                  TR8714
                </td>
                <td>
                  Jul 01, 2015

                </td>
              </tr>
              <tr>
                <td>
                  4
                </td>
                <td>
                  Pression pompe
                </td>
                <td>
                  May 15, 2015
                </td>
                <td>
                  TR8715

                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  Pression pompe
                </td>
                <td>
                  TR8719
                </td>
                <td>
                  Jul 01, 2015

                </td>
              </tr>
              <tr>
                <td>
                  5
                </td>
                <td>
                  Pression pompe
                </td>
                <td>
                  TR8714
                </td>
                <td>
                  Jul 01, 2015

                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-7 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="d-flex flex-wrap justify-content-between">
          <h4 class="card-title">Les derniers 6 mois  </h4>
          <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal">
            <ul>
              <li>
                <button  type="button" class="btn  btn-icon ml-2 " >
                  <img style="height: 30px; width: 30px;" class=" rounded" src="assets/images/forklift.png" alt="sample image">
                </button>
                <span class="legend-dots"></span>Elevateur


              </li>
              <li>
                <button  type="button" class="btn  btn-icon ml-2 " >
                  <img style="height: 30px; width: 30px;" class=" rounded" src="assets/images/tractor.png" alt="sample image">
                </button>
                <span class="legend-dots"></span>Tracteurs
              </li>
              <li class="mr-0">
                <button  type="button" class="btn  btn-icon ml-2 " >
                  <img style="height: 30px; width: 30px;" class=" rounded" src="assets/images/loader.png" alt="sample image">
                </button>
                <span class="legend-dots"></span>Chargeuse sur pneu
              </li>

            </ul>
          </div>
        </div>
        <canvas baseChart #visitSaleChart [chartType]="'bar'" [datasets]="visitSaleChartData" [labels]="visitSaleChartLabels" [options]="visitSaleChartOptions" [colors]="visitSaleChartColors"></canvas>
      </div>
    </div>
  </div>
  <div class="col-lg-5 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Taux de panne</h4>
        <canvas baseChart [chartType]="'doughnut'" [datasets]="trafficChartData" [labels]="trafficChartLabels" [options]="trafficChartOptions" [colors]="trafficChartColors"></canvas>
        <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4">
          <ul>
            <li>
              <button  type="button" class="btn  btn-icon ml-2 " >
                <img style="height: 30px; width: 30px;" class=" rounded" src="assets/images/forklift.png" alt="sample image">
              </button>
              <span class="legend-dots"></span>Elevateur
              <span class="float-right">30%</span>
            </li>
            <li>
              <button  type="button" class="btn  btn-icon ml-2 " >
                <img style="height: 30px; width: 30px;" class=" rounded" src="assets/images/loader.png" alt="sample image">
              </button>
              <span class="legend-dots"></span>Chargeuse sur pneu
              <span class="float-right">30%</span>
            </li>
            <li>
              <button  type="button" class="btn  btn-icon ml-2 " >
                <img style="height: 30px; width: 30px;" class=" rounded" src="assets/images/tractor.png" alt="sample image">
              </button>
              <span class="legend-dots"></span>tracteurs
              <span class="float-right">40%</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Dernier commandes</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>
                  Num_comm
                </th>
                <th>
                  Description
                </th>
                <th>
                  Date commande
                </th>
                <th>
                  Status
                </th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  David Grey
                </td>
                <td>
                  Fund is not recieved
                </td>

                <td>
                  Dec 5, 2017
                </td>
                <td>
                  <label class="badge badge-gradient-success">DONE</label>
                </td>
              </tr>
              <tr>
                <td>
                  Stella Johnson
                </td>
                <td>
                  High loading time
                </td>

                <td>
                  Dec 12, 2017
                </td>
                <td>
                  <label class="badge badge-gradient-warning">PROGRESS</label>
                </td>
              </tr>
              <tr>
                <td>
                  Marina Michel
                </td>
                <td>
                  Website down for one week
                </td>

                <td>
                  Dec 16, 2017
                </td>
                <td>
                  <label class="badge badge-gradient-info">ON HOLD</label>
                </td>
              </tr>
              <tr>
                <td>
                  John Doe
                </td>
                <td>
                  Loosing control on server
                </td>

                <td>
                  Dec 3, 2017
                </td>
                <td>
                  <label class="badge badge-gradient-danger">REJECTED</label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

