<div class="col-md-12 grid-margin grid-margin-md-5 stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Panne en cours</h4>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>
                Num Panne
              </th>
              <th>
                Description
              </th>
              <th>
                Engin concerné
              </th>
              <th>
                Date panne
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                1
              </td>
              <td>
                Pression pompe
              </td>
              <td>
                TR8714
              </td>
              <td>
                Jul 01, 2015

              </td>
            </tr>
            <tr>
              <td>
                2
              </td>
              <td>
                Pression pompe
              </td>
              <td>
                TR8714
              </td>
              <td>
                Jul 01, 2015

              </td>
            </tr>
            <tr>
              <td>
                3
              </td>
              <td>
                Pression pompe
              </td>
              <td>
                TR8714
              </td>
              <td>
                Jul 01, 2015

              </td>
            </tr>
            <tr>
              <td>
                4
              </td>
              <td>
                Pression pompe
              </td>
              <td>
                May 15, 2015
              </td>
              <td>
                TR8715

              </td>
            </tr>
            <tr>
              <td>
                5
              </td>
              <td>
                Pression pompe
              </td>
              <td>
                TR8719
              </td>
              <td>
                Jul 01, 2015

              </td>
            </tr>
            <tr>
              <td>
                5
              </td>
              <td>
                Pression pompe
              </td>
              <td>
                TR8714
              </td>
              <td>
                Jul 01, 2015

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
